:host {
  display: block;
}

.progress-bar {
  position: relative;
  width: 187px;
  height: 30px;
  border-radius: 8px;
}

.progress-bar-phase-one {
  border: solid 1px rgba(27, 202, 255, 0.2);
  background-color: rgba(27, 202, 255, 0.2);
}
.progress-bar-phase-two {
  border: solid 1px rgba(92, 93, 255, 0.2);
  background-color: rgba(92, 93, 255, 0.2);

}

.progress-bar-phase-three {
  border: solid 1px rgba(232, 188, 0, 0.2);
  background-color: rgba(232, 188, 0, 0.2);
}

.progress-bar-content {
  position: absolute;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  animation: progressbar 1s forwards;
  color: #FFF;
  padding: 0px 8px;
}
.progress-item {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 10px;
}

.progress-final-value {
  justify-content: flex-end;
  color: #1bcaff;
  margin: 0 8px;
}

.progress-bar-content-phase-one {
  background-color: #1bcaff;
}

.progress-bar-content-phase-two {
  background-color: #5c5dff;
}

.progress-bar-content-phase-three {
  background-color: #e8bc00;
}

@keyframes progressbar {
  0% { width: 0% }
  100% { width: 50% }
}

