:host {
  display: block;
}

.progress-bar {
  position: relative;
  width: 187px;
  height: 30px;
  border-radius: 8px;
}

.progress-bar-phase-one {
  border: solid 1px var(--pb-container-color-phase-one, rgba(27, 202, 255, 0.2));
  background-color: var(--pb-container-color-phase-one, rgba(27, 202, 255, 0.2));
}
.progress-bar-phase-two {
  border: solid 1px var(--pb-container-color-phase-two, rgba(92, 93, 255, 0.2));
  background-color: var(--pb-container-color-phase-two, rgba(92, 93, 255, 0.2));

}

.progress-bar-phase-three {
  border: solid 1px var(--pb-container-color-phase-three, rgba(232, 188, 0, 0.2));
  background-color: var(--pb-container-color-phase-three, rgba(232, 188, 0, 0.2));
}

.progress-bar-content {
  position: absolute;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  animation: progressbar 1s forwards;
  color: var(--pb-initial-value-color, #fff);
  padding: 0px 8px;
}
.progress-item {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 10px;
}

.final-value-phase-one, .final-value-phase-two, .final-value-phase-three {
  justify-content: flex-end;
  margin: 0 8px;
}

.final-value-phase-one{
  color: var(--pb-content-color-phase-one, #1bcaff);
}

.final-value-phase-two {
  color: var(--pb-content-color-phase-two, #5c5dff);
}

.final-value-phase-three {
  color: var(--pb-content-color-phase-three, #e8bc00);
}

.progress-bar-content-phase-one {
  background-color: var(--pb-content-color-phase-one, #1bcaff);
}

.progress-bar-content-phase-two {
  background-color: var(--pb-content-color-phase-two, #5c5dff);
}

.progress-bar-content-phase-three {
  background-color: var(--pb-content-color-phase-three, #e8bc00);
}

@keyframes progressbar {
  0% { width: 0% }
  100% { width: 50% }
}

