:host {
  display: block;
}

h3, h4, p {
  margin: 0;
}

.info {
  display: flex;
  align-items: center;
}

.img-container {
  width: 40px;
  height: 40px;
  margin: 0;
  margin-right: 16px;
}

.img-container > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.description-container > .title {
  font-size: var(--font-size-title, 1rem);
  letter-spacing: -0.4px;
  color: var(--font-size-title-color, #333333);
}

.description-container .description {
  width: 59px;
  height: 15px;
  font-size: var(--font-size-description, .75rem);
  letter-spacing: -0.4px;
  color: var(--font-size-description-color, #b8b8b8);
}

