.action-bar .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--action-bar-icon-width, 32px);
  height: var(--action-bar-icon-height, 32px);
}

.action-bar .icon:hover {
  width: var(--action-bar-icon-width, 32px);
  height: var(--action-bar-icon-height, 32px);
  background-color: var(--icon-background-color-hover,#333333);
  cursor: pointer;
  border-radius: 50%;
  transition: all .4s ease-in-out;
  color: white;
}